@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

@mixin marginless {
  margin: 0;
  padding: 0;
}


@mixin even-flex-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
$faintgrey: rgb(235, 235, 235);

body {
  @include marginless;
  color: rgb(72, 72, 72);
  padding: 40px 2%;

  font: {
    family: 'Noto Sans', sans-serif;
    size: 17.5px; // taken from ikea site, idk if they use media queries
    weight: 400;
  }
}
.stats-table {
  display: grid;
  grid: {
    gap: 0.8rem;
    template: {
      columns: 1fr minmax(30px, 0.5fr) minmax(20px, 1em);
      rows: auto;
    }
  };
  .metrics-placeholder {
    grid-column-start: 1;
  }
  .ratings-bar {
    grid-column-start: 2;
  }
  .metrics-value {
    grid-column-start: 3;
    justify-self: end;

  }
}

.ratings-bar {
  box-sizing: border-box;
  position: relative;
  .dots-container {
    display: inline-flex;
    justify-content: space-evenly;
    flex-flow: row nowrap;
     position: relative;
     width: 100%;
  };
  .ratings-bar-dot {
    color: white;
    z-index: 2;
  };
  .ratings-bar-inner-bar {
    position: absolute;
    left: 0;
    z-index: 1;
    display: inline;
    box-sizing: border-box;
    height: 1rem;
    border: {
      top: 0.45em solid white;
      bottom: 0.2em solid white;
    }
    &.fg {
      background-color: black;
    }
    &.bg {
      background-color: $faintgrey;
      width: 100%;
    }
  }
}

@mixin greyborder {
  border: {
    bottom: 1px solid $faintgrey;
  }
}

.review-list {
  padding: 40px 0;
  
  .review-list-item {
    @extend .review-list;
    @include greyborder;
    .review-list-item-header {
      @include even-flex-row();
      flex-wrap: nowrap;
      font-size: 15px;
      .stars {
        font-size: 20px;
      }
    }

  }
  
  .review-aggregator {
    @include greyborder;
    h2 {
      color: black;
      font-weight: 700;
      &.review-agg-header {
        font-size: 22.5px;
      }
      &.overall-score {
        font-size: 30px;
      }
    }
  }
}

.thumbnail {
  border-radius: 100%;
  max-width: 4rem;
  height: auto;
}

.table-view {
  // margin: 0 auto;
  margin-bottom: 1rem;
  .table-view-head-container {
    @include even-flex-row();
    justify-content: start;
    .table-view-header {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      padding-left: 1rem;
    }
  }
  .table-view-body {
    &.clamped {
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

.toggle-hide {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

@mixin smol-screen-no-table {
  @media (max-width: 640px) {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
  }
}

@mixin bicolumn {
  width: calc(50% - 0.5rem);
  @media (max-width: 640px) {
    width: 100%;
  }
}

.review-table-container {
  margin: 1rem 0;
  .review-table-stats {
    @include even-flex-row;
    max-width: 100%;
    @include smol-screen-no-table;
  }
}

.review-table-row {
  display: grid;
  align-items: start;
  grid: {
    template: {
      columns: 2fr 2fr auto;
    }
  }
  @include bicolumn;
  .metrics-value {
    padding-left: 1rem;
  }
}

.review-table-box {
  @include even-flex-row();
  margin-top: 1rem;
  flex: 2;
  max-width: 100%;
  align-content: flex-start;
  width: 100%;
  .table-view {
    flex-wrap: wrap;
    @include bicolumn;
  }
  @include smol-screen-no-table;
}

.table-view-header-date {
  font-weight: 100;  
  font-size: 0.9rem;
  color: darkgrey;
}